{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section register col-sm col-lg-8">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Şifremi Unuttum</legend>
            {{ form|crispy }}
            <small>Hesabınızına ait email adresi.</small>
        </fieldset>
        <div class="form-group pt-2">
            <button class="btn btn-outline-secondary" type="submit">Gönder</button>
        </div>
    </form>
</div>
{% endblock content %}