{% extends "website/base.html" %}
{% block content %}
<div class="col-sm col-lg-8">
    <div class="py-3">
        {% for post in posts %}
        <div class="media border p-3">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a class="link-unstyled" href="{% url 'post-detail' post.slug %}"">{{ post.title }}</a></h5>
            <a class=" link-unstyled" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small>{{ post.date_posted|date:"d F Y H:i" }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}

{% if page_obj.has_previous %}
<a href="?page=1" class="btn btn-outline-success mb-4">First</a>
<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success mb-4">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a href="?page={{ num }}" class="btn btn-success mb-4">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a href="?page={{ num }}" class="btn btn-outline-success mb-4">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success mb-4">Next</a>
<a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success mb-4">Last</a>
{% endif %}
{% endif %}

{% endblock content %}